# This workflow will run pytest only

name: Run pytest

on:
  push:
  pull_request:
  workflow_dispatch:


permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
    - name: Test with pytest
      run: |
        pip install pytest
        pytest
